start_project.bat
frontend/node_modules/
__pycache__/
backend/btb.db
*.db
.idea/
backend/app/logs/
btb-export-2026-04-10-13-58-20.json
tes22t.txt
backend/app/logs/
backend/app/models/neo4j-community-5.18.1/
frontend/dist/